{% load static %} 
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
</button>
</div>
  <div class="img bg-wrap text-center py-4" style='background-image: url("{%static 'master/img/bg_1.jpg' %}");'>
      <div class="user-logo">
          <div class="img" style='background-image: url("{%static 'master/img/logo.jpg' %}");'></div>
          <h3>Catriona Henderson</h3>
      </div>
  </div>
<ul class="list-unstyled components mb-5">
<li class="active">
<a href="#" onclick="window.location.href='/master/'"><span class="fa fa-home mr-3"></span> Home </a>
</li>
<li class="active">
<a href="#" onclick="window.location.href='/master/list/list_OE/'"><span class="fa fa-home mr-3"></span> Gestão Obj. Estrategico </a>
</li>
<li>
  <a href="#" onclick="window.location.href='/master/list/list_KPI/'"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span>  Gestão KPI </a>
</li>
<li>
<a href="#" onclick="window.location.href='/master/list/list_ME/'"><span class="fa fa-gift mr-3"></span> Gestão Meta </a>
</li>
<li>
<a href="#" onclick="window.location.href='/master/list/list_RAS/'"><span class="fa fa-trophy mr-3"></span> Gestão Rastreabilidade </a>
</li>
<li>
<a href="#" onclick="window.location.href='/master/list/list_OA/'"><span class="fa fa-cog mr-3"></span> Gestão Objetivo Anual </a>
</li>
<li>
<a href="#" onclick="window.location.href='/master/list/list_AAN/'"><span class="fa fa-support mr-3"></span> Gestão Atividades Anual </a>
</li>
<li>
  <a href="#" onclick="window.location.href='/master/list/list_AC/'"><span class="fa fa-support mr-3"></span> Gestão Ação </a>
  </li>
<li>
<a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out </a>
</li>
</ul>
</nav>