<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
  {% load static %} 
  <link rel="stylesheet" href="{%static 'auth/style.css'%}">
</head>
<body>
  <div class="wrapper">
    <form action="#">
      <h2>LOGIN</h2>
        <div class="input-field">
        <input type="text" required>
        <label>Insira seu e-mail</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Digite sua senha</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
      </div>
    </form>
  </div>
</body>
</html>